@font-face {
	font-family: 'Gabriela Bold';
	src: url('https://rawcdn.githack.com/jenyferlima/css_copy/2cbbe2e88b0e5be3f1fc3903393347649828631d/Gabriela_Bold.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gabriela Regular';
	src: url('https://rawcdn.githack.com/jenyferlima/css_copy/2cbbe2e88b0e5be3f1fc3903393347649828631d/Gabriela_Regular.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

.full.menu .conteiner .nivel-um>li>a>.titulo {
    font-family: Gabriela;
    color: #B51F47 !important;
    font-size: 14px;
    text-align: center !important;
}

.full.menu .conteiner .nivel-um>li>a .icon-chevron-down {
    display: none !important;
}

#listagemProdutos.listagem .titulo-categoria strong {
    color: #B51F47 !important;
    font-family: Gabriela Bold;
    text-transform: lowercase !important;
}

#listagemProdutos.listagem .titulo-categoria.vitrine-6058957 strong:after {
    content: url(https://cdn.awsli.com.br/1641/1641875/arquivos/graf_cabelo_r.png);
    padding-left: 40px;
}

#listagemProdutos.listagem .titulo-categoria.vitrine-6058957 strong:before {
    content: url(https://cdn.awsli.com.br/1641/1641875/arquivos/graf_cabelo.png);
    padding-right: 40px;
} 

#listagemProdutos.listagem .titulo-categoria.vitrine-6001916 strong:after {
    content: url(https://cdn.awsli.com.br/1641/1641875/arquivos/graf_oleo.png);
    padding-left: 40px;
}

#listagemProdutos.listagem .titulo-categoria.vitrine-6001916 strong:before {
    content: url(https://cdn.awsli.com.br/1641/1641875/arquivos/graf_oleo.png);
    padding-right: 40px;
}

img.banner_meio {
	padding: 40px 0px;
}

#rodape .institucional.fundo-secundario {
    background-color: #0E1816 !important;
    padding: 50px 20px !important;
}

#rodape .institucional.fundo-secundario .span12 {
  display:none !important
}

.redes_sociais_rodape img {
    padding: 8px;
}

.redes_sociais_rodape {
    padding-top: 25px;
}

img.logo_footer {
    padding: 20px 0px;
}
